In [1]:
import pandas as pd
df =pd.read_csv('nyc_weather.csv')

In [3]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Unnamed: 11
0,01-01-16,38,23,52,30.03,10,8.0,0,5,NaN,281,NaN
1,01-02-16,36,18,46,30.02,10,7.0,0,3,NaN,275,NaN
2,01-03-16,40,21,47,29.86,10,8.0,0,1,NaN,277,NaN
3,01-04-16,25,9,44,30.05,10,9.0,0,3,NaN,345,NaN
4,01-05-16,20,-3,41,30.57,10,5.0,0,0,NaN,333,NaN

In [5]:
df['Temperature'].head()

0    38
1    36
2    40
3    25
4    20
Name: Temperature, dtype: int64

In [9]:
#--give  me date EST for events rain only

df['EST'][df['Events']=='Rain']

8      01-09-16
9      01-10-16
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [10]:
df['WindSpeedMPH'].mean()

6.8928571428571432

# ------Process of cleaning messy data is Called data munging or data Wrangling

In [12]:
df.fillna(0,inplace=True)
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees,Unnamed: 11
0,01-01-16,38,23,52,30.03,10,8.0,0,5,0,281,0.0
1,01-02-16,36,18,46,30.02,10,7.0,0,3,0,275,0.0
2,01-03-16,40,21,47,29.86,10,8.0,0,1,0,277,0.0
3,01-04-16,25,9,44,30.05,10,9.0,0,3,0,345,0.0
4,01-05-16,20,-3,41,30.57,10,5.0,0,0,0,333,0.0

## Dataframe is a main object in Pandas. It is used to represent data with rows and columns (tabular or excel spreadsheet like data)

### 1.creating dataframe
    2.Dealing with rows and columns
    3.Operations: min, max, std, describe
    4.Conditional selection
    5.Set_index

In [13]:
#-------------------
weather_data={
    'day':['1/1/2017','1/2/2017','1/3/2017','1/2/2017'],
    'temperature':[32,35,28,35],
    'windspeed':[6,7,8,3],
    'event':['Rain','Sunny','Snow','Windy']
}

In [15]:
df=pd.DataFrame(weather_data)
df

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          8
3  1/2/2017  Windy           35          3

In [21]:
df1=pd.read_csv('weather_data.csv')
df1[2:5]

        day  temperature  windspeed event  Unnamed: 4
2  01-03-17           28          2  Snow         NaN
3  01-04-17           24          7  Snow         NaN
4  01-05-17           32          4  Rain         NaN

In [22]:
df.columns

Index(['day', 'event', 'temperature', 'windspeed'], dtype='object')

In [26]:
df[]

KeyError: 1

In [52]:
df.iloc[1:6]

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          8
3  1/2/2017  Windy           35          3

In [53]:
#--print rows for event ==sunny
df.iloc[:][df['event']=='Sunny']

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7

In [54]:
#--print columns
df['day'][df['event']=='Sunny']

1    1/2/2017
Name: day, dtype: object

In [60]:
type(df['event'])

pandas.core.series.Series

In [61]:
df[['event','day','temperature']]

   event       day  temperature
0   Rain  1/1/2017           32
1  Sunny  1/2/2017           35
2   Snow  1/3/2017           28
3  Windy  1/2/2017           35

In [66]:
type(df['event'])

pandas.core.series.Series

In [68]:
type(df[['event','day','temperature']])

pandas.core.frame.DataFrame

In [69]:
df['temperature'].max()

35

In [70]:
df.describe()

       temperature  windspeed
count     4.000000   4.000000
mean     32.500000   6.000000
std       3.316625   2.160247
min      28.000000   3.000000
25%      31.000000   5.250000
50%      33.500000   6.500000
75%      35.000000   7.250000
max      35.000000   8.000000

In [71]:
#--print all columns
df[df.temperature>=32]

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
3  1/2/2017  Windy           35          3

In [74]:
#--print temperature columns will index as dataframe format
df[['temperature',]][df['temperature']>=32]

   temperature
0           32
1           35
3           35

In [75]:
df['temperature']

0    32
1    35
2    28
3    35
Name: temperature, dtype: int64

In [76]:
df[['temperature']]

   temperature
0           32
1           35
2           28
3           35

In [77]:
type(df['temperature'])

pandas.core.series.Series

In [78]:
type(df[['temperature']])

pandas.core.frame.DataFrame

In [79]:
df.temperature

0    32
1    35
2    28
3    35
Name: temperature, dtype: int64

In [84]:
df[df.temperature==df.temperature.max()]

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7
3  1/2/2017  Windy           35          3

In [85]:
##---'temp rature' is used when for having space temp erature
df[df.temperature==df['temperature'].max()]

        day  event  temperature  windspeed
1  1/2/2017  Sunny           35          7
3  1/2/2017  Windy           35          3

In [86]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35
3  1/2/2017           35

In [87]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [88]:
df['humidity']=[20,19,15,11]

In [89]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [91]:
df

        day  event  temperature  windspeed  humidity
0  1/1/2017   Rain           32          6        20
1  1/2/2017  Sunny           35          7        19
2  1/3/2017   Snow           28          8        15
3  1/2/2017  Windy           35          3        11

In [96]:
df1=df.set_index('day')

#####
    INPLACE is for rewriting the dataset

In [97]:
df.set_index('day',inplace=True)

In [99]:
df.loc['1/1/2017']

event          Rain
temperature      32
windspeed         6
humidity         20
Name: 1/1/2017, dtype: object

In [102]:
df.reset_index(inplace=True)

In [103]:
df

        day  event  temperature  windspeed  humidity
0  1/1/2017   Rain           32          6        20
1  1/2/2017  Sunny           35          7        19
2  1/3/2017   Snow           28          8        15
3  1/2/2017  Windy           35          3        11

### 
    1. Using CSV
    2. Using Excel
    3. From Python dictionary
    4. From list of tuples
    5. From list of dictionaries

In [104]:
df=pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event  Unnamed: 4
0  01-01-17           32          6   Rain         NaN
1  01-02-17           35          7  Sunny         NaN
2  01-03-17           28          2   Snow         NaN
3  01-04-17           24          7   Snow         NaN
4  01-05-17           32          4   Rain         NaN
5  01-06-17           31          2  Sunny         NaN

In [115]:
dff=pd.read_excel("nyc_weather.xlsx","Sheet1")
#df=pd.read_excel("nyc_weather.xlsx")

In [110]:
#---a dictionary to DataFrame
weather_data

{'day': ['1/1/2017', '1/2/2017', '1/3/2017', '1/2/2017'],
 'event': ['Rain', 'Sunny', 'Snow', 'Windy'],
 'temperature': [32, 35, 28, 35],
 'windspeed': [6, 7, 8, 3]}

In [113]:
df1=pd.DataFrame(weather_data)
df1

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          8
3  1/2/2017  Windy           35          3

In [117]:
weather_data1=[
    ('1/1/2017','very Rain','32','6'),
('1,1/2/2017','very Sunny',35,7),
    
]

In [121]:
df2=pd.DataFrame(weather_data1,columns=["day","temperature","windspeed","event"],index=['x1','x2'])
df2

           day temperature windspeed event
x1    1/1/2017   very Rain        32     6
x2  1,1/2/2017  very Sunny        35     7

### 
    1.fillna to fill missing vaules using different ways
        2.interpolate to make a guess on missing values using interpolation
        3.dropna to drop rows with missing value

In [123]:
df1.head()

        day  event  temperature  windspeed
0  1/1/2017   Rain           32          6
1  1/2/2017  Sunny           35          7
2  1/3/2017   Snow           28          8
3  1/2/2017  Windy           35          3

In [134]:
#--day is series,, get element from series
df1.day[2]

'1/3/2017'

In [135]:
type(df1.day[0])

str

In [138]:
#--day is string,,change it
df1=pd.read_csv("weather_data.csv",parse_dates=["day"])
df1.set_index('day',inplace=True)
df1

            temperature  windspeed  event  Unnamed: 4
day
2017-01-01           32          6   Rain         NaN
2017-01-02           35          7  Sunny         NaN
2017-01-03           28          2   Snow         NaN
2017-01-04           24          7   Snow         NaN
2017-01-05           32          4   Rain         NaN
2017-01-06           31          2  Sunny         NaN

In [141]:
df1_copy=df1.copy()

In [145]:
df1.fillna(0)

            temperature  windspeed  event  Unnamed: 4
day
2017-01-01           32          6   Rain         0.0
2017-01-02           35          7  Sunny         0.0
2017-01-03           28          2   Snow         0.0
2017-01-04           24          7   Snow         0.0
2017-01-05           32          4   Rain         0.0
2017-01-06           31          2  Sunny         0.0

In [146]:
df1_copy

            temperature  windspeed  event  Unnamed: 4
day
2017-01-01           32          6   Rain         NaN
2017-01-02           35          7  Sunny         NaN
2017-01-03           28          2   Snow         NaN
2017-01-04           24          7   Snow         NaN
2017-01-05           32          4   Rain         NaN
2017-01-06           31          2  Sunny         NaN

In [149]:
df1_copy2=df1.fillna(
{
    'temperature':0,
    'windspeeed':0,
    'Unnamed: 4':'no event'
}
)

df1_copy2

            temperature  windspeed  event Unnamed: 4
day
2017-01-01           32          6   Rain   no event
2017-01-02           35          7  Sunny   no event
2017-01-03           28          2   Snow   no event
2017-01-04           24          7   Snow   no event
2017-01-05           32          4   Rain   no event
2017-01-06           31          2  Sunny   no event